@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {box-sizing: border-box}

body {

  
}
.wrapper {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  background: url('https://oboitut.com/uploads/posts/2016-12/thumbs/oboitut.com_1481623146.jpg');
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
  
}

.background-image {
  
  height: 100vh;

}

.slide {
  color: #fff;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  position: relative;
  transition: all 500ms ease-in-out;
  border: 3px solid #808080;
}

.slide:hover{
  transform:scaleY(.98);
}

.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 18px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
  transform: none;
}

.slide.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.slide:first-child{
  color: #333;
}

span {
  text-transform: lowercase;
}